[submodule "gimp/.config/GIMP/3.2"]
	path = gimp/.config/GIMP/3.2
	url = https://github.com/loloolooo/photoshop-keymap-for-gimp

[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
